@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
*{
  font-family: 'Cairo', sans-serif;
}
.container{
  max-width: 1000px;
  margin: auto;
}

@layer base {
  .container{
    @apply px-4 md:px-0
  }
  body{
    @apply bg-neutral-900 text-white
  }

  .clipboard:hover .cb-notice{
    @apply flex opacity-100
  }
  .cb-notice{
    @apply hidden opacity-0 border border-neutral-800
  }
}